* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.container {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;

    /*margin-bottom: 9.6rem;*/
}


:root {
    --primary-color-50: #f0fdf4;
    --primary-color-100: #dcfce7;
    --primary-color-200: #bbf7d0;
    --primary-color-300: #86efac;
    --primary-color-400: #4ade80;
    --primary-color-500: #22c55e;
    --primary-color-600: #16a34a;
    --primary-color-700: #15803d;
    --primary-color-800: #166534;
    --primary-color-900: #14532d;

    --secondary-color-50: #fdf2f8;
    --secondary-color-100: #fce7f3;
    --secondary-color-200: #fbcfe8;
    --secondary-color-300: #f9a8d4;
    --secondary-color-400: #f472b6;
    --secondary-color-500: #ec4899;
    --secondary-color-600: #db2777;
    --secondary-color-700: #be185d;
    --secondary-color-800: #9d174d;
    --secondary-color-900: #831843;

    /*--dark-color-900: rgb(30, 32, 39);*/
    --dark-color-50: #EFEBE9;
    --dark-color-100: #D7CCC8;
    --dark-color-200: #BCAAA4;
    --dark-color-300: #A1887F;
    --dark-color-400: #8D6E63;
    --dark-color-500: #795548;
    --dark-color-600: #6D4C41;
    --dark-color-700: #5D4037;
    --dark-color-800: #4E342E;
    --dark-color-900: #3E2723;

    --green-color-50: #E8F5E9;
    --green-color-100: #C8E6C9;
    --green-color-200: #A5D6A7;
    --green-color-300: #81C784;
    --green-color-400: #66BB6A;
    --green-color-500: #4CAF50;
    --green-color-600: #43A047;
    --green-color-700: #388E3C;
    --green-color-800: #2E7D32;
    --green-color-900: #1B5E20;

    --deep-green: #0F3411FF;


    --text-light-100: #eee;

    --box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
    /*
        Dark Brown #5D4037
        Lighter Brown #795548
        Light Tannish #D7CCC8
        Mid Green #4CAF50
        Secondary Text #757575
        Divider #BDBDBD

     */


}

.grid {
    display: grid;
}

.grid-2-cols {
    grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.text-center {
    text-align: center;
}

.ticketPage--margins {
    color: black;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.label {
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

.label--value {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.btn--outline {
    padding: 1rem;
    /*border: none;*/
    border: solid 1px #ccc;
    background-color: white;
    color: teal;
    font-weight: 600;
}

.btn--outline:hover {
    cursor: pointer;
}

.btn--active {
    background-color: teal;
    border: solid 1px teal !important;
    color: white;
}

.gap-1 {
    gap: 2rem !important;
}

.mb-2 {
    margin-bottom: 2rem;
}

.btn {
    background-color: var(--green-color-900);
    outline: none;
    border: none;
    color: var(--green-color-50);
    font-weight: 900;
    font-family: inherit;
    font-size: 1.6rem;
    border-radius: 11px;
    text-decoration: none;


    display: inline-block;
    padding: 1.2rem 2.4rem;
    margin-bottom: 3rem;
    margin-right: .5rem;
}

.btn:hover,
.btn:active {
    background-color: var(--green-color-800);
    cursor: pointer;

    transition: all 400ms;
}